html {
  --backgroundColor: #ccc;
  --textColor: #222;
  --mainColor: #54808c;
}

body {
  margin: 20px auto;
  background-color: var(--backgroundColor);
  max-width: 800px;
}

header {
  background-color: var(--mainColor);
}

footer {
  margin: 20px 0;
}

footer a {
  font-size: 18px;
}

button {
  border-color: var(--mainColor)
}

button:hover {
  font-size: 14px;
}

button.warning {
  background-color: red;
}

h1, h2 {
  text-align: center;
}

h1 {
  color: var(--textColor);
}

h2 {
  font-size: 16px;
  color: var(--mainColor);
}


@media (min-width: 400px) {
  .grid .col {
    float: left;
    width: 40%;
    margin-right: 10%;
  }
  .grid:after{
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 800px) {
  body {
    margin: 20px;
  }
}

.too-small-screen, .big-screen {
  display: none;
}

@media (min-width: 300px) {
  .too-small-screen {
    display: block;
  }
}

@media (max-width: 700px) {
  .big-screen {
    display: block;
  }
}
